<header id="main-header">
    <div><a href="/">Shop New Thing's</a></div>
    <nav>
        <%-include('nav-items')%>
    </nav>
    <button id="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <aside id="mobile-menu">
        <nan>
            <%-include('nav-items')%>
        </nan>
    </aside>
</header>