<%- include('../../shares/includes/head',{pageTitle:'Add New Products'}) %>
    <link rel="stylesheet" href="/Style/form.css">
    </head>

    <body>
        <%- include('../../shares/includes/header') %>
            <main>
                <h1>Add New Product </h1>
                <%- include('Include/Product-form',{SubmitPath:'/main/products',productByid:{ title: '' , summary: '' ,
                    price: '' , description: "" }}) %>
            </main>
            <%- include('../../shares/includes/footer') %>