<%- include('../../shares/includes/head',{pageTitle:'Products admin'}) %>
    </head>

    <body>
        <%- include('../../shares/includes/header') %>
            <main>
                <h1>Product Administrtion </h1>
                <section>
                    <h2>Product Management</h2>
                    <p>
                        <a href="/main/products/new" class="btn">Add Products</a>
                    </p>
                </section>
                <section>
                    <p>A list of products...</p>
                </section>
            
            </main>
            <%- include('../../shares/includes/footer') %>