<article class="product-items">
    <img src="<%= data.imageUrl %>">
    <div class="product-content">
        <h2>
            <%= data.title %>
        </h2>
        <div class="product-action">
            <a class="btn btn-alt" href="/main/products/<%=data.id%>">View&Edit</a>
            <button class="btn btn-alt">Delete</button>
        </div>
    </div>

</article>