<%- include('../../Shares/Includes/head', { pageTitle: 'All Your Orders' }) %>
<link rel="stylesheet" href="/style/orders.css">
</head>
<body>
  <%- include('../../Shares/Includes/header') %>
  <main>
    <h1>All Your Orders</h1>
    <%- include('../../Shares/Includes/order-list') %>
  </main>
<%- include('../../Shares/Includes/footer') %>