<%- include('../../Shares/Includes/head', { pageTitle: 'failure!' }) %>
    </head>

    <body>
        <%- include('../../Shares/Includes/header') %>
            <main>
                <h1> Orders payment Failed</h1>
                <p>please try again</p>
            </main>
            <%- include('../../Shares/Includes/footer') %>