<%- include('../../Shares/Includes/head', { pageTitle: 'success!' }) %>
    </head>

    <body>
        <%- include('../../Shares/Includes/header') %>
            <main>
                <h1> Orders payment successful!</h1>

            </main>
            <%- include('../../Shares/Includes/footer') %>