<%- include('../../Shares/Includes/head', { pageTitle: 'All Orders' }) %>
<link rel="stylesheet" href="/style/orders.css">

<script src="/Script/order-management.js" defer></script>
</head>
<body>
  <%- include('../../Shares/Includes/header') %>
  <main>
    <%- include('../../Shares/Includes/order-list') %>
  </main>
</body>
<%- include('../../Shares/Includes/footer') %>