<%- include('../../shares/includes/head',{pageTitle:'Products'}) %>
    </head>

    <body>
        <%- include('../../shares/includes/header') %>
            <main>
                <h1>successfully login!! main </h1>

            </main>
            <%- include('../../shares/includes/footer') %>