<%- include('../../shares/includes/head',{pageTitle:'Products'}) %>

    <link rel="stylesheet" href="Style/auth.css">
    <link rel="stylesheet" href="Style/form.css">
    </head>

    <body>
        <%- include('../../shares/includes/header') %>
            <main>
                <h1>successfully login!! </h1>

            </main>
            <%- include('../../shares/includes/footer') %></form>