<%- include('../../shares/includes/head',{pageTitle:'Login'}) %>

    <link rel="stylesheet" href="Style/auth.css">
    <link rel="stylesheet" href="Style/form.css">
    </head>

    <body>
        <%- include('../../shares/includes/header') %>
            <main>
                <h1>Login</h1>
                <form action="/login" method="post">
                    <input type="hidden" name="_csrf" value="<%= locals.csrftoken %>">
                    <p>
                        <label for="email">E-mail</label>
                        <input type="email" id="email" name="email" required>
                    </p>

                    <p>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" minlength="6" maxlength="14">
                    </p>
                    <hr />

                    <button class="btn">Login </button>
                    <p><a href="/signUp">If You don't have Account | SignUp</a></p>
                </form>
            </main>
            <%- include('../../shares/includes/footer') %>