<%- include('../include/head'),{pageTitle:'SignUp'} %>
    </head>

    <body>
        <%- include('../include/header') %>
            <main>
                <h1>create New Account</h1>
                <form action="" method="">
                    
                    <input type="text">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                    <input type="password">
                    <input type="text">
                </form>
            </main>
            <%- include('../include/footer') %>